<p>Stats are based on the number of times each term appears in an artist's top 20 most popular songs on RapGenius. Over time, more artists will be added to the database as more searches are performed. By default, artists are sorted by overall score, descending. Click on a column name to sort by that column. Hold down the 'shift' key to select multiple columns at the same time.</p>
</br>
<table class="table table-hover table-responsive tablesorter" id="rappers_table">
  <thead>
    <tr>
      <th>Artist Name</th>
      <th data-sort-method='dotsep'>Bitch Count</th>
      <th data-sort-method='dotsep'>Pussy Count</th>
      <th data-sort-method='dotsep'>Ho Count</th>
      <th class='sort-default'>Overall Score</th>
    </tr>
  </thead>
  <tbody>
<% @all_rappers.each do |r| %> 
<tr> 

<td><%= link_to r.name, rapper_path(:id => r.id), class: '' %></td>
<td><%=r.bitch_count%></td>
<td><%=r.pussy_count%></td>
<td><%=r.ho_count%></td>
<td><%=r.overall_score%></td>
</tr>
<% end %>
  </tbody>
</table>

<script>
$(function(){
  $("#rappers_table").tablesorter({ sortList: [[4,1]] });
});
</script>





