

<!-- <script src='tablesort.numeric.js'></script> -->

<table class="table table-hover table-responsive" id="rappers_table">
  <caption>Only artists for whom 20 or more songs are available will be displayed. Over time, more artists will be added to the database as more searches are performed.</caption>
  <thead>
    <tr>
      <th>Artist Name</th>
      <th data-sort-method='dotsep'>Bitch Count</th>
      <th data-sort-method='dotsep'>Pussy Count</th>
      <th data-sort-method='dotsep'>Ho Count</th>
      <th class='sort-default'>Overall Score</th>
    </tr>
  </thead>
  <tbody>
<% @all_rappers.each do |r| %>
<tr>
<td><%= r.name %></td>
<td><%=r.bitch_count%></td>
<td><%=r.pussy_count%></td>
<td><%=r.ho_count%></td>
<td><%=r.overall_score%></td>
</tr>
<% end %>
  </tbody>
</table>


<script>
new Tablesort(document.getElementById('rappers_table'), {
  descending: true
});
</script>





