  <% if @rapper.errors.any? %>
  <% @rapper.errors.full_messages.each do |message| %>
  <div class = "alert alert-danger">
  <%= message %>
  </div>
  <% end %>
  <% end %>



<%= form_for @rapper do |f| %>
<%= f.label :name, "Enter the name of a hip-hop artist to look up:" %>
</br>
<%= f.text_field :name %>
</br>
<%= f.submit "Lookup artist" %>
<% end %>