  <% if @rapper.errors.any? %>
  <% @rapper.errors.full_messages.each do |message| %>
  <div class = "alert alert-danger">
  <%= message %>
  </div>
  <% end %>
  <% end %>

<div class="form-group">
<%= form_for @rapper do |f| %>
<%= f.label :name, "Enter the name of a hip-hop artist to look up:" %>
</br>
</br>
<%= f.text_field :name, class: "form-control input-lg" %>
</br>
<%= f.button "Lookup artist", class: "btn btn-success form-control", data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Looking up artist..."} %>
<% end %>
</div>