<!DOCTYPE html>
<html>
<head>
  <title>HipHopMisogynyStats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if alert %>
<div class = "alert alert-danger">
  <%= alert %>
</div>
<% end %>

<%= yield %>

</body>
</html>
